<script type="text/javascript">
	function getStory(storyId, callback){
		$.ajax({
			type: "GET",  
			url: "story/" + storyId,
			success: callback
		});		
	}
	$(document).ready(function(){
		getStory(1, function(){console.log("success")});	
		$("#add_node_button").click(function(){
			$.ajax({
  				type: "POST",  
  				url: "/addnode",  
  				data: {text: $('#new_node_text').val()},
  				success: function(){
  				}
			});
		});
	});
</script>

<div class="row">
	<div class="large-4 columns">
		<form action="">
			<fieldset>
				<legend>New node</legend>
				<div class="row">
					<div class="large-12.columns">	
						<textarea rows="10" id="new_node_text" name="post"> </textarea>
					</div>
				</div>
				<input id="add_node_button" class="small button radius expand" value="Submit">
			</fieldset>
		</form>
	</div>
</div>