extends layout
include form

block content
  h1 main
  #form
  include form
  p
    | maincontent foo hendrerit arcu sed erat molestie
    | foo Vivamus foo hendrerit arcu sed erat molestie
    | foo Vivamus foo hendrerit arcu sed erat molestie
    | foo Vivamus foo hendrerit arcu sed erat molestie
  p
    | Donec congue lacinia dui, a porttitor
block sidebar
  h1 sidebar
  p
    | Sed auctor neque eu tellus rhoncus ut