.editable{
	/*editable: true;*/
}

.hiddenInput{
	display: none;
	/*min-height: 2.5em;*/
}

.input_div{
	min-height: 1.5em;
}

.newPostInput{
	background: none repeat scroll 0 0 #F2F2F2;
    padding: 0.5em;
}
/*.editable {
    background: none repeat scroll 0 0 #F2F2F2;
    padding: 0.5em;
}*/

.newPostForm{
	display: none;
}

.newPostSubmit{
	float: right;
	/*padding-top: 10px;*/
	margin-top: 10px;
	margin-right: -7px;
}

li {
	clear: right;
}